In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("E:\COVID19_time_series.xlsx")
data1 = pd.read_excel("E:\COVID19_cases (1).xlsx")

In [3]:
data.head()

        Date Location       Revenue        Demand  Occupancy  Year  Month  Day
0 2013-01-01  NewYork  2.442363e+06  13063.675000  81.991307  2013      1    1
1 2013-01-02  NewYork  2.018559e+06  13069.608539  82.028548  2013      1    2
2 2013-01-03  NewYork  1.927676e+06  13069.608539  82.028548  2013      1    3
3 2013-01-04  NewYork  1.781664e+06  12653.271887  79.415502  2013      1    4
4 2013-01-05  NewYork  1.824994e+06  12827.322364  80.507892  2013      1    5

In [5]:
data.shape

(23254, 8)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23254 entries, 0 to 23253
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       23254 non-null  datetime64[ns]
 1   Location   23254 non-null  object
 2   Revenue    23254 non-null  float64
 3   Demand     23254 non-null  float64
 4   Occupancy  23254 non-null  float64
 5   Year       23254 non-null  int64
 6   Month      23254 non-null  int64
 7   Day        23254 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 1.4+ MB

In [7]:
data1.head()

,date,state,fips,cases,deaths,fully_vaccinated,partially_vaccinated,dailynewcases,dailynewdeaths,lndailynewcases,lndailynewdeaths,new_full_vaccination,ln_new_full_vaccination
0,2020-03-13,AL,1,6,0,0,0,0,0,0.000000,0.0,0,0.0
1,2020-03-14,AL,1,12,0,0,0,6,0,1.791759,0.0,0,0.0
2,2020-03-15,AL,1,23,0,0,0,11,0,2.397895,0.0,0,0.0
3,2020-03-16,AL,1,29,0,0,0,6,0,1.791759,0.0,0,0.0
4,2020-03-17,AL,1,39,0,0,0,10,0,2.302585,0.0,0,0.0

In [8]:
data1.shape

(30264, 13)

In [9]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30264 entries, 0 to 30263
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     30264 non-null  datetime64[ns]
 1   state                    30264 non-null  object
 2   fips                     30264 non-null  int64
 3   cases                    30264 non-null  int64
 4   deaths                   30264 non-null  int64
 5   fully_vaccinated         30264 non-null  int64
 6   partially_vaccinated     30264 non-null  int64
 7   dailynewcases            30264 non-null  int64
 8   dailynewdeaths           30264 non-null  int64
 9   lndailynewcases          30264 non-null  float64
 10  lndailynewdeaths         30264 non-null  float64
 11  new_full_vaccination     30264 non-null  int64
 12  ln_new_full_vaccination  30264 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(8), object(1)
memory usage: 3.0+ MB

In [102]:
filter = (data.Location == 'NewYork') | (data.Location == 'Orlando') | (data.Location == 'Chicago') | (data.Location == 'LosAngeles') | (data.Location == 'Washington')
data = data[filter]

In [103]:
data=data.replace({'NewYork':'NY','Orlando':'OR','Chicago':'CO','LosAngeles':'LA','Washington':'WA'})
data.columns = ['date','state','revenue','demand','occupancy','year','month','day']

In [104]:
filter = (data1.state == 'NY') | (data1.state == 'OR') | (data1.state == 'CO') | (data1.state == 'LA') | (data1.state == 'WA')
data1 = data1[filter]

In [107]:
final_data = pd.merge(data,data1,on=['date','state'],how='left')
final_data=final_data.drop(labels=['lndailynewcases','lndailynewdeaths','new_full_vaccination','ln_new_full_vaccination','fully_vaccinated','partially_vaccinated'],axis=1).fillna(0)
final_data.fillna(0).head()

,date,state,revenue,demand,occupancy,year,month,day,fips,cases,deaths,dailynewcases,dailynewdeaths
0,2013-01-01,NY,2.442363e+06,13063.675000,81.991307,2013,1,1,0.0,0.0,0.0,0.0,0.0
1,2013-01-02,NY,2.018559e+06,13069.608539,82.028548,2013,1,2,0.0,0.0,0.0,0.0,0.0
2,2013-01-03,NY,1.927676e+06,13069.608539,82.028548,2013,1,3,0.0,0.0,0.0,0.0,0.0
3,2013-01-04,NY,1.781664e+06,12653.271887,79.415502,2013,1,4,0.0,0.0,0.0,0.0,0.0
4,2013-01-05,NY,1.824994e+06,12827.322364,80.507892,2013,1,5,0.0,0.0,0.0,0.0,0.0

In [1]:
final_data.to_excel('Datasets/Final Data.xlsx')

NameError: name 'final_data' is not defined